<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Configurações da Conexão com o banco de dados -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/db_drogaria2</property>
        <property name="connection.username">root</property>
        <property name="connection.password">iron</property>

        <!-- Pool de conexões JDBC -->
        <property name="connection.pool_size">1</property>

        <!-- Dialeto SQL -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Gerenciamento da sessão -->
        <property name="current_session_context_class">thread</property>

        <!-- Desabilita a cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Exibir os comandos SQL -->
        <property name="show_sql">true</property>

        <!-- Criação das tabelas -->
        <!-- Inicialmente usa-se create, depois validate -->
        <property name="hbm2ddl.auto">validate</property>
	
		<!-- Mapeamento de Entidades -->
        <mapping class="br.com.drogaria2.domain.Fabricante" />
        <mapping class="br.com.drogaria2.domain.Funcionario" />
        <mapping class="br.com.drogaria2.domain.Produto" />
        <mapping class="br.com.drogaria2.domain.Venda" />
        <mapping class="br.com.drogaria2.domain.Item" />

    </session-factory>

</hibernate-configuration>